@using System.Security.Cryptography.X509Certificates
@model RS1_Ispit_asp.net_core.ViewComponents.DetaljiPopravniIspitVM
@{
    ViewData["Title"] = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-8">
    <h2>Uredjivanje popravnog ispita</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-5">
        <div class="row mt-8">
            <div class="col-md-6">
                <label class="control-label">1. Clan komisije</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" asp-for="ClanoviKomisije[0]" readonly />
            </div>
        </div>

        <div class="row mt-8">
            <div class="col-md-6">
                <label class="control-label">2. Clan komisije</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" asp-for="ClanoviKomisije[1]" readonly />
            </div>
        </div>

        <div class="row mt-8">
            <div class="col-md-6">
                <label class="control-label">3. Clan komisije</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" asp-for="ClanoviKomisije[2]" readonly />
            </div>
        </div>

        <div class="row mt-8">
            <div class="col-md-6">
                <label class="control-label" asp-for="DatumIspita"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control" asp-for="DatumIspita" type="date" readonly />
            </div>
        </div>


        <div class="row mt-8">
            <div class="col-md-6">
                <label class="control-label" asp-for="Skola"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control" asp-for="Skola"  readonly />
            </div>
        </div>

        <div class="row mt-8">
            <div class="col-md-6">
                <label class="control-label" asp-for="SkolskaGodina"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control" asp-for="SkolskaGodina"  readonly />
            </div>
        </div>

        <div class="row mt-8">
            <div class="col-md-6">
                <label class="control-label" asp-for="Predmet"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control" asp-for="Predmet"  readonly />
            </div>
        </div>
    </div>
</div>
<hr/>
<h4><strong>Lista ucenika koji polazu ispit</strong></h4>
<hr/>
<table class="table table-striped">
    <thead>
    <tr>
        <th class="text-center">Ucenik</th>
        <th class="text-center">Odjeljenje</th>
        <th class="text-center">Broj u dnevniku</th>
        <th class="text-center">Pristupio ispitu</th>
        <th class="text-center">Osvojeni bodovi (max 100)</th>
        <th class="text-center">Akcija</th>
    </tr>
    </thead>
    <tbody id="listaPolaganja">
    @foreach (var x in Model.Polaganja)
    {
        <tr id="@string.Concat("Polaganje_",x.Id)" class="text-center">
            <td>@x.Ucenik</td>
            <td>@x.Odjeljenje</td>
            <td>@x.BrojUDnevniku</td>
            <td>
                @if (!x.ImaPravoIzlaska)
                {
                    <span class="text-danger">Nema pravo na popravni</span>
                }
                else
                {
                    if (x.IsPristupio)
                    {
                        <a asp-action="PolaganjePristupioToggle" asp-route-Id="@x.Id"
                           ajax-poziv="da"
                           ajax-rezultat-replace="da"
                           ajax-rezultat="@string.Concat("Polaganje_",x.Id)">DA</a>

                    }
                    else
                    {
                        <a asp-action="PolaganjePristupioToggle" asp-route-Id="@x.Id"
                           ajax-poziv="da"
                           ajax-rezultat="@string.Concat("Polaganje_",x.Id)"
                           ajax-rezultat-replace="da"
                           class="text-danger">NE</a>

                    }
                }
            </td>
            <td>
                @if(!x.ImaPravoIzlaska)
                {
                    <span>0</span>
                }else if (x.IsPristupio)
                {
            <div class="row text-center">
                <div class="col-md-offset-4">

                    <div class="col-md-7">
                        <form asp-action="EvidencijaBodova" method="post" ajax-poziv="da">
                            <input type="hidden" value="@x.Id" name="popravniIspitStavkaId" />
                            <input ajax-change-trigger="da" value="@x.OsvojenoBodova" class="form-control text-center" name="bodovi" min="0" max="100" type="number" />
                        </form>
                    </div>
                </div>
            </div>
                }
                else
                {
                    <span>X</span>
                }
            </td>
            <td>
                @if (x.IsPristupio)
                {
                    <a asp-action="UrediPolaganje" asp-route-popravniIspitStavkaId="@x.Id"
                       asp-route-popravniIspitId="@Model.Id"
                       ajax-poziv="da" ajax-rezultat="polaganjeForm">Uredi</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
<hr/>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary" asp-action="DodajPolaganje" asp-route-popravniIspitId="@Model.Id"
           ajax-poziv="da"
           ajax-rezultat="polaganjeForm">Dodaj ucenika</a>
    </div>
</div>
<div class="row mt-8" id="polaganjeForm">

</div>
<hr/>
<div class="row mt-8">
    <div class="col-md-3">
        <a class="btn btn-primary" asp-action="Dodaj" >Dodaj popravni ispit</a>
    </div>
</div>
<hr/>
