@model RS1_Ispit_asp.net_core.ViewModels.RezultatPretragePopravnihVM
@{
    ViewData["Title"] = "RezultatPretrage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-8">
    <h2>Rezultat pretrage</h2>
    <hr/>
    <h3>Popravni ispit za <strong>@Model.Predmet - @Model.Skola - @Model.SkolskaGodina</strong></h3>
</div>
<hr/>
<div class="row mt-8">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">Datum popravnog ispita</th>
            <th class="text-center">Komisija</th>
            <th class="text-center">Broj ucenika na popravnom ispitu **</th>
            <th class="text-center">Broj ucenika koji nisu polozili popravni ispit (bodovi veci od 50) **</th>
            <th class="text-center">Akcija</th>
        </tr>
        </thead>
        <tbody id="listaPopravnih">
        @foreach(var x in Model.PopravniIspiti)
        {
            <tr id="@string.Concat("Popravni_",x.Id)"  class="text-center">
                <td>@x.Datum.ToString("d")</td>
                <td>@x.Komisija</td>
                <td>@x.BrojUcenika</td>
                <td>@x.BrojKojiNisuPolozili</td>
                <td><a asp-action="Detalji" asp-route-popravniIspitId="@x.Id">Uredi</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
<hr/>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary" asp-action="Dodaj"
           asp-route-predmetId="@Model.PredmetId" asp-route-skolaId="@Model.SkolaId" asp-route-skolskaGodinaId="@Model.SkolskaGodinaId"
           ajax-poziv="da" ajax-rezultat="dodavanjePopravnog">Dodaj</a>
    </div>
</div>
<div class="row mt-8" id="dodavanjePopravnog"></div>

